[Unit]
Description=hello-node - making a simple app to test some devops paterns
Documentation=https://github.com/fiap2tin/github
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/node /opt/workspace/node-app
Restart=on-failure

[Install]
WantedBy=multi-user.target
